@import "0-base/base-dir";
@import "1-components/all";
@import "2-helpers/variables";

html {
  font-size: 62.5%;
}

body{
  font-family: $font-main;
  font-size: 2rem;
  background-color: $background-light;
}

p{
  color: $darkest;
}
