@import "../2-helpers/variables";
//score

.score {
  background-color: $cg-blue;
  &__container {
    display: flex;
    justify-content: space-between;
  }
  &__item{
      padding: 10xp;
      margin: auto;
  }
  &__number{
      text-align: center;
  }
  &__label{
      text-align: center;
  }
}
