@import "../2-helpers/variables";

//header
.header {
  display: flex;
  justify-content: space-between;
  position: relative;
  background-color: $aux-dark;
  box-shadow: $shadow-medium;
  height: 80px;
  &__logo {
    position: absolute;
    top: 10px;
    right: 15px;
  }
  &__back-button {
    display: inline-block;
    background-size: cover;
    width: 40px;
    height: 40px;
    margin: auto 15px;
    background-image: url(../../assets/images/icons/back-button.svg);
  }
}

//welcome
.welcome {
  display: flex;
  align-items: center;
  flex-direction: column;
  img {
    width: 80%;
    margin: 30px auto 20px;
  }
  &__instructions {
    background-color: $lightest;
    width: 80%;
    padding: 1rem;
    border-radius: 2rem;
    box-shadow: $shadow-light;
    h1 {
      color: $main-dark;
      margin: 1.5rem auto;
      text-align: center;
    }
    p {
      margin: 1.5rem auto;
      text-align: center;
    }
  }
}

//score
.score {
  background-color: $aux-medium;
  width: 94%;
  height: 80px;
  margin: 0 auto;
  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  box-shadow: $shadow-medium;

  &__container {
    display: flex;
    padding: 0 30px;
  }
  &__item {
    // padding: 10xp;
    margin: auto;
    margin: 10px auto;
  }
  &__number {
    p {
      text-align: center;
      margin: 0;
      font-size: $h1;
      font-weight: bold;
      color: $lightest;
    }
  }
  &__label {
    p {
      text-align: center;
      font-size: $labels;
      margin: 0;
      color: $lightest;
    }
  }
}

//main-button

.main-button {
  background-color: $main-light;
  color: $lightest;
  font-weight: bold;
  height: 5rem;
  width: 24.5rem;
  border: none;
  border-radius: 2.5rem;
  position: relative;
  &__container {
    display: flex;
    justify-content: center;
    margin: 40px auto;
  }
  &__icon {
    display: inline-block;
    background-size: cover;
    width: 30px;
    height: 30px;
    margin: 0 1rem;
    position: absolute;
    top: 10px;
    &--arrow-left-circle {
      background-image: url(../../assets/images/icons/arrow-left-circle.svg);
    }
    &--arrow-right-circle {
      background-image: url(../../assets/images/icons/arrow-right-circle.svg);
    }
    &--check-circle {
      background-image: url(../../assets/images/icons/check-circle.svg);
    }
    &--play-again {
      background-image: url(../../assets/images/icons/play-again.svg);
    }
  }
}

.main-button:hover {
  background-color: #2ba6d3;
}
.main-button:active {
  background-color: #26657c;
}

//countdown
.countdown {
  .box1 {
    p {
      color: $aux-medium;
    }
  }
  &__circle {
    margin: 40px auto;
    height: 160px;
    width: 160px;
    border-radius: 50%;
    background-color: $aux-light;
    display: flex;
    justify-content: center;
    align-items: center;
    span {
      font-size: $giga;
      font-weight: bold;
      color: $main-dark;
    }
  }
}

//random-word
.random-word {
  .box1 + &__box1 {
    background-color: $main-light;
  }
  &__box1 {
    p {
      color: $aux-light;
    }
  }
}

//hitStrike
.hitStrike {
  background-color: white;
  &__icon {
    display: inline-block;
    background-size: cover;
    width: 150px;
    height: 150px;
    &--hit {
      background-color: $main-light;
      background-image: url(../../assets/images/icons/hit-icon.svg);
    }
    &--strike {
      background-color: red;
      background-image: url(../../assets/images/icons/strike-icon.svg);
    }
  }
}
