<div class="score">
  <div class="score__container">
    <div class="score__item">
      <div class="score__number">
        <p>{{ score.playerLevel }}</p>
      </div>
      <div class="score__label">
        <p>Level</p>
      </div>
    </div>
    <div class="score__item">
      <div class="score__number">
        <p>{{ score.hits }}</p>
      </div>
      <div class="score__label">
        <p>Hits</p>
      </div>
    </div>
    <div class="score__item">
      <div class="score__number">
        <p>{{ score.strikes }}</p>
      </div>
      <div class="score__label">
        <p>Strikes</p>
      </div>
    </div>
  </div>
</div>
